/* Empty. Add your own CSS if you like */
.menuAction {
  top: -10px !important;
  right: -70% !important;
  /*width: 30px !important;
  margin: 0;
  min-width: 30px;
  color: #000;
  */position: relative;
  /*padding: 2px !important;
  height: 30px !important;
  */display: inline-block;
}
